@charset "utf-8";

body {
    color: #21302d;
    text-align: center;
    background-color: #f7e2c6;
    font-family: sans-serif;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    margin-top: 100px;
}

img {
    mix-blend-mode: multiply;
    width: 200px;
}

.result {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 300px;
    margin-top: 20px;
    padding: 15px;
    border-radius: 8px;
}

select {
    margin-right: 5px;
    padding: 5px;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

button {
    margin-top: 15px;
    padding: 8px 16px;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}